<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Student Dashboard</title>
</head>
<body>
  <div class="dashboard-container">
    <h2>Welcome, <%= student.name %></h2>
    <p>Student name: <%= student.student_name %></p>
    <p>Email: <%= student.email %></p>
  </div>
</body>
</html>
