<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label for="student_id">Student name:</label>
    <input type="text" id="student_name" name="student_name" required>
    <label for="password_hash">Password:</label>
    <input type="password" id="password_hash" name="password_hash" required>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/signup">Sign up here</a></p>
</body>
</html>