<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <style>
        /* Additional styles specific to login page */
        /* Add any specific styles for this page if needed */
    </style>
    <title>Login</title>
</head>
<body>
    <div class="container sign-in">
        <div class="row content-row">
            <div class="col align-items-center flex-col sign-in">
                <div class="text sign-in">
                    <h2>
                        LEARN CODE PRO
                    </h2>
                </div>
                <div class="form-wrapper align-items-center">
                    <form action="/login" method="POST" class="form sign-in">
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" name="student_name" placeholder="Username" required>
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit">
                            Sign in
                        </button>
                        <p>
                            <b>
                                Forgot password?
                            </b>
                        </p>
                        <p>
                            <span>
                                Don't have an account?
                            </span>
                            <b onclick="toggle()" class="pointer">
                                Sign up here
                            </b>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        let container = document.querySelector('.container');

        function toggle() {
            container.classList.toggle('sign-in');
            container.classList.toggle('sign-up');
        }

        setTimeout(() => {
            container.classList.add('sign-in');
        }, 200);
    </script>
</body>
</html>
